*{
  text-align: center;
  background-color:  #282c34;
  color: wheat;
  margin-top: 2%
}
.App {
  text-align: center;
 margin-top: 10%;
 background-color: #282c34;
}
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
   
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
  
}

